
//colors
$primary: #1D1D1D;
$secondary: #292929;
$accent: #ea4c89;
$white: #fff;
$gray: #9b9b9b;
$green:#00c06d;

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.moodContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px;
    padding-top: 0px;

    justify-content: center;
    align-items: center;
    color: #FFF;
}

.monthPieGraph {
    width: 70%;
    height: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 20px;
    background-color: $primary;

    .graphTitle {
        width: 100%;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        position: absolute;
        top: -32px;
    }
}

.monthStats {
    width: 30%;
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;

    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: $primary;
}

.pagTitle {
    width: 20%;
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;

    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: $primary;
}

.stickyButtons {
    $width: 40px;
    position: absolute;

    width: $width;
    height: fit-content;
    top: 5px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    user-select: none;

}