<html>
    <!--
    <body>
        <p>Media del mes: {{this.monthAverage}} / 5</p>
        <p>Reparto  {{this.monthData[0]}} {{this.monthData[1]}} {{this.monthData[2]}} {{this.monthData[3]}} {{this.monthData[4]}}</p>
        <p>Media del año: {{this.yearAverage}} / 5</p>
        <p>Reparto Año  {{this.yearData[0]}} {{this.yearData[1]}} {{this.yearData[2]}} {{this.yearData[3]}} {{this.yearData[4]}}</p>
        <div *ngIf="this.averageComp[1] == -1; else avgComp2">
            <p>Este mes tu media de mood es un{{this.averageComp[0]}}% menor de lo normal</p>
        </div>
        <ng-template #avgComp2>
            <p>Este mes tu media de mood es {{this.averageComp[0]}}% mayor de lo normal</p>
        </ng-template>
    </body>
    -->
    <body>
        <div *ngIf="this.isMonthDataAvailable == true" class="moodContainer">
            <div class="monthPieGraph">
                <p class="graphTitle">This Month</p>
                <canvas id="monthPie" baseChart height="250" width="400" [datasets]="this.monthPie.chartData" [labels]="this.monthPie.chartLabels"
                [options]="this.monthPie.chartOptions"[colors]="this.monthPie.chartColors" 
                [legend]="this.monthPie.chartLegend" [chartType]="this.monthPie.chartType"
                [plugins]="this.monthPie.chartPlugins">
                </canvas>
            </div>

            <div class="monthStats">
                <p class="text-center text-xl">Average Mood</p><p class="text-center text-2xl font-bold">{{this.monthAverage}}/5</p>
                <div *ngIf="this.comparationsAvailable == true" class="w-full h-auto flex flex-row gap-2 justify-items-center content-center">
                    <div *ngIf="this.averageComp[1] == -1; else avgComp2" class="justify-items-center content-center mt-5">
                        <p class="w-full h-auto text-center text-2xl font-bold text-red-600">-{{this.averageComp[0]}}%</p>
                    </div>
                    <ng-template #avgComp2 class="w-full h-auto justify-items-center content-center mt-5">
                        <p class="w-full h-auto  text-center text-2xl font-bold text-green-600">+{{this.averageComp[0]}}%</p>
                    </ng-template>
                </div>
            </div>
        </div>

    </body>
    <script src="node_modules/chart.js/src/chart.js"></script>
</html>
