@import url('https://fonts.googleapis.com/css?family=Montserrat');

// COLORS
$primary: #1D1D1D;
$accent: #ea4c89;

* {
	box-sizing: border-box;
}

body {
	background-color: $primary;
	font-family: 'Montserrat', sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
    font-weight: bolder;
}

h5 {
    font-size: 11px;
	margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
	text-transform: uppercase;
    font-weight: bold;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #292929;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 40px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #ea4c89;
	border-radius: 50%;
	padding: 7px;
    margin-left: auto;
	margin-right: auto;
}

button.primary {
	background-color: #ea4c89;
	border: 1px solid #ea4c89;
	border-radius: 3px;
	color: #231E39;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #ea4c89;
}

.skills {
	background-color: #212121;
	text-align: left;
	padding: 20px;
	margin-top: 30px;
    
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.roundButton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, 0.2);
    border-radius: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
}

.icon {
    width: 40px;
    height: 40px;
    z-index: 9;
    background-image: url(../../../assets/backArrow.svg);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    opacity: 0.9;
    bottom: 0;
    right: 0;
    transition: background-color 0.4s ease, background-size 1s ease;
	cursor: pointer;

    &:hover {
        background-color: $accent;
		background-size: 63%;
        opacity: 1;
    }
}
