<div *ngIf="lastUserExists" class="table top-3 cursor-pointer" (click)="requestUserData()">
    <div class="tableContainer">
        <div class="pingContainer">
            <span class="flex h-3 w-3 relative">
                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span>
            </span>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="48px" viewBox="0 0 20 20"
            width="48px" fill="#FFFFFF">
            <g>
                <rect fill="none" height="20" width="20" x="0" />
            </g>
            <g>
                <path d="M10,4v1h6v10h-6v1h6c0.55,0,1-0.45,1-1V5c0-0.55-0.45-1-1-1H10z" />
                <polygon points="9.5,6.5 8.79,7.21 11.09,9.5 3,9.5 3,10.5 11.09,10.5 8.79,12.79 9.5,13.5 13,10" />
            </g>
        </svg>
    </div>
</div>

<div class="bg-primary w-screen h-screen flex flex-wrap content-center">
    <div [className]="isActive ? 'container w-10/12 m-auto ' : 'container right-panel-active w-10/12 m-auto'"
        id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="signForm" (ngSubmit)="onSignUp(signForm.value)">
                <h1 class="text-textPrimary text-3xl">Create Account</h1>

                <div class="social-container">
                    <!--
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    -->
                </div>

                <span class="text-textPrimary">Use your Email for Registration</span>
                <input formControlName="signName" type="text" placeholder="Name" />
                <input formControlName="signEmail" type="email" placeholder="Email" />
                <input formControlName="signPass" type="password" placeholder="Password" />
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="logForm" (ngSubmit)="onLogIn(logForm.value)">
                <h1 class="text-textPrimary text-3xl">Sign in</h1>

                <div class="social-container">
                    <!--
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    -->
                </div>

                <span class="text-textPrimary">Use your Account Credentials</span>
                <input formControlName="logEmail" type="email" placeholder="Email" />
                <input formControlName="logPass" type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="text-2xl">Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button (click)="changeState()" class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="text-2xl">Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button (click)="changeState()" class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
<jw-modal id="infoCredentialsAuth">
    <div class="modal active">
        <div class="content">
            <h2 class="font-semibold text-textPrimary text-xl mb-5">Credentials Requeriments</h2>
            <ul class="pt-4 text-base">
                <li>
                    <p class="text-textPrimary">The Username must be at least 3 characters long.
                    </p>
                </li>
                <li>
                    <p class="text-textPrimary">The Email must be a valid one, you will have to confirm your
                        account with it
                    </p>
                </li>
                <li>
                    <p class="text-textPrimary">The Password must be at least 6 characters long.
                    </p>
                </li>
            </ul>

        </div>
        <div class="buttons">
            <span class="cursor-pointer" (click)="closeModal('infoCredentialsAuth')">Understood</span>
        </div>
    </div>
</jw-modal>