<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body *ngIf="this.dataDelivered; else loading">
    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton ico" (click)="navigateHome()"></a>
    </div>
    <div class="tableMenu">
        <!-- card -->
        <div *ngIf="this.reviewState; else reviewDisabled" [className]="this.selectedMenu == 1 ? 'card selected' : 'card'" (click)="selectMenu(1)">

            <div class="icon"><i class="material-icons md-36">insights</i></div>
            <p class="title">Monthly Review</p>
            <p class="text">Month score and interesting data</p>

        </div>

        <ng-template #reviewDisabled>
            <div class="card disabled" (click)="showNotEnoughDataError()">

                <div class="icon"><i class="material-icons md-36">insights</i></div>
                <p class="title">Monthly Review</p>
                <p class="text">Month score and interesting data</p>
    
            </div>
        </ng-template>
        <!-- end card -->
        <!-- card -->
        <div *ngIf="this.timeState; else timeDisabled" [className]="this.selectedMenu == 2 ? 'card selected' : 'card'" (click)="selectMenu(2)">

            <div class="icon"><i class="material-icons md-36">schedule</i></div>
            <p class="title">Time</p>
            <p class="text">Time investment</p>

        </div>

        <ng-template #timeDisabled>
            <div class="card disabled" (click)="showNotEnoughDataError()">

                <div class="icon"><i class="material-icons md-36">schedule</i></div>
                <p class="title">Time</p>
                <p class="text">Time investment</p>
    
            </div>
        </ng-template>
        <!-- end card -->
        <!-- card -->
        <div *ngIf="this.moodState; else moodDisabled" [className]="this.selectedMenu == 3 ? 'card selected' : 'card'" (click)="selectMenu(3)">

            <div class="icon"><i class="material-icons md-36">mood</i></div>
            <p class="title">Mood</p>
            <p class="text">Mood fluctuations</p>

        </div>

        <ng-template #moodDisabled>
            <div class="card disabled" (click)="showNotEnoughDataError()">

                <div class="icon"><i class="material-icons md-36">mood</i></div>
                <p class="title">Mood</p>
                <p class="text">Mood fluctuations</p>
    
            </div>
        </ng-template>
    </div>
    <div class="table">
        <div class="title" id="title" #title>
            {{getTitle()}}
        </div>

        <div *ngIf="getTitle() == 'How to use'" class="w-full h-full flex flex-col p-7 justify-around text-center">
            <div class="flex flex-col gap-3 justify-items-center content-center">
                <p class="text-2xl font-bold pb-3">General</p>
                <p class="text-lg">This app uses your data to build graphs and custom scores</p>
                <p class="text-lg">You should log your mood and journal daily to get accurate results</p>
            </div>

            <div class="flex flex-col gap-3 justify-items-center content-center"> 
                <p class="text-center text-2xl font-bold pb-3 pt-5">Review</p>
                <p class="text-lg">The final score is an approximation of your productivity level using an internal formule</p>
                <p class="text-lg">You should always preserve your mental and physical health before looking into being productive</p>
            </div>

            <div class="flex flex-col gap-3 justify-items-center content-center"> 
                <p class="text-center text-2xl font-bold pb-3 pt-5">Time & Mood</p>
                <p class="text-lg">This section is like your personal book</p>
                <p class="text-lg">Use it to take a quick look at how are you doing lately</p>
            </div>
            
        </div>
    </div>
</body>

<ng-template #loading>
    <body>
        <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
            <a class="roundButton ico" (click)="navigateHome()"></a>
        </div>
        <div class="tableMenu">

        </div>
        <div class="table"></div>
    </body>
</ng-template>

</html>