<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body *ngIf="this.dataDelivered; else loading">
    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton ico" (click)="navigateHome()"></a>
    </div>
    <div class="tableMenu">
        <!-- card -->
        <div *ngIf="this.reviewState; else reviewDisabled" [className]="this.selectedMenu == 1 ? 'card selected' : 'card'" (click)="selectMenu(1)">

            <div class="icon"><i class="material-icons md-36">insights</i></div>
            <p class="title">Monthly Review</p>
            <p class="text">Month score and interesting data</p>

        </div>

        <ng-template #reviewDisabled>
            <div class="card disabled" (click)="showNotEnoughDataError(1)">

                <div class="icon"><i class="material-icons md-36">insights</i></div>
                <p class="title">Monthly Review</p>
                <p class="text">Month score and interesting data</p>
    
            </div>
        </ng-template>
        <!-- end card -->
        <!-- card -->
        <div *ngIf="this.timeState; else timeDisabled" [className]="this.selectedMenu == 2 ? 'card selected' : 'card'" (click)="selectMenu(2)">

            <div class="icon"><i class="material-icons md-36">schedule</i></div>
            <p class="title">Time</p>
            <p class="text">Time investment</p>

        </div>

        <ng-template #timeDisabled>
            <div class="card disabled" (click)="showNotEnoughDataError(2)">

                <div class="icon"><i class="material-icons md-36">schedule</i></div>
                <p class="title">Time</p>
                <p class="text">Time investment</p>
    
            </div>
        </ng-template>
        <!-- end card -->
        <!-- card -->
        <div *ngIf="this.moodState; else moodDisabled" [className]="this.selectedMenu == 3 ? 'card selected' : 'card'" (click)="selectMenu(3)">

            <div class="icon"><i class="material-icons md-36">mood</i></div>
            <p class="title">Mood</p>
            <p class="text">Mood fluctuations</p>

        </div>

        <ng-template #moodDisabled>
            <div class="card disabled" (click)="showNotEnoughDataError(3)">

                <div class="icon"><i class="material-icons md-36">mood</i></div>
                <p class="title">Mood</p>
                <p class="text">Mood fluctuations</p>
    
            </div>
        </ng-template>
    </div>
    <div class="table">
        <div class="title" id="title" #title>
            {{getTitle()}}
        </div>

        <div class="w-full h-full relative overflow-y-scroll overflow-hidden">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>

<ng-template #loading>
    <body>
        <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
            <a class="roundButton ico" (click)="navigateHome()"></a>
        </div>
        <div class="tableMenu">

        </div>
        <div class="table"></div>
    </body>
</ng-template>

<jw-modal id="infoScore">
    <div class="modal active">
        <div class="content">
            <p class="font-bold text-center text-textPrimary text-2xl mb-5">Month Score</p>
            <ul class="flex flex-col content-center justify-items-center pt-4 text-base">
                <li>
                    <p class="text-textPrimary pb-2">You need to log at least 25 days of the past month to get access.
                    </p>
                </li>
                <li>
                    <p class="text-textPrimary pb-2">The Score will always be of the past month.
                    </p>
                </li>
                <li>
                    <p class="text-textPrimary pb-2">If you cannot access now, you'll have to wait until next month.
                    </p>
                </li>
            </ul>

        </div>
        <div class="buttons">
            <span class="cursor-pointer" (click)="closeModal('infoScore')">Understood</span>
        </div>
    </div>
</jw-modal>

</html>