<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton ico" (click)="navigateHome()"></a>
    </div>
    <div class="tableMenu">
        <!-- card -->
        <div [className]="this.selectedMenu == 1 ? 'card selected' : 'card'" (click)="selectMenu(1)">

            <div class="icon"><i class="material-icons md-36">cottage</i></div>
            <p class="title">Monthly Review</p>
            <p class="text">Month score and interesting data</p>

        </div>
        <!-- end card -->
        <!-- card -->
        <div [className]="this.selectedMenu == 2 ? 'card selected' : 'card'" (click)="selectMenu(2)">

            <div class="icon"><i class="material-icons md-36">edit_calendar</i></div>
            <p class="title">Time</p>
            <p class="text">Time investment</p>

        </div>
        <!-- end card -->
        <!-- card -->
        <div [className]="this.selectedMenu == 3 ? 'card selected' : 'card'" (click)="selectMenu(3)">

            <div class="icon"><i class="material-icons md-36">mood</i></div>
            <p class="title">Mood</p>
            <p class="text">Mood fluctuations</p>

        </div>
    </div>
    <div class="table">
        <div class="title">
            {{getTitle()}}
        </div>
    </div>
</body>

</html>