//colors
$primary: #1D1D1D;
$secondary: #292929;

body {
    width: 100%;
    height: 100vh;
    background: $primary;
    margin: 0;
    font-family: helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}


.table {
    height: 85%;
    width: 75%;
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
    display: flex;

    align-items: center;
    flex-direction: column;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
	background-color: $secondary;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
    border-radius: 10px;
	background-color: $secondary;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $primary;
}

.day {
    height: 50px;
    width: 50px;
    background-color: $primary;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
    cursor: pointer;
}

.emptyDay {
    visibility: hidden;
    height: 50px;
    width: 50px;
    background-color: $primary;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
}