//colors
$primary: #1D1D1D;
$secondary: #292929;

body {
    width: 100%;
    height: 100vh;
    background: $primary;
    margin: 0;
    font-family: helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}


.table {
    height: 85%;
    width: 75%;
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.day {
    height: 30px;
    width: 30px;
    background-color: $primary;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
    cursor: pointer;
}

.emptyDay {
    visibility: hidden;
    height: 30px;
    width: 30px;
    background-color: $primary;
    border-radius: 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
}