<html>

<head>

</head>

<body>
    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton icon" (click)="navigateHome()"></a>
    </div>
    <div class="mb-3 flex flex-row gap-4 items-center">
        <a class="yearChangeButton yearChangeIconLeft" (click)="onPreviousYear()"></a>
        <p id="year" class="text-textPrimary ">{{year}}</p>
        <a class="yearChangeButton yearChangeIconRight" (click)="onNextYear()"></a>
    </div>
    <div class="table flex-nowrap">
        <div *ngIf="dataDelivered | async" class="flex w-full items-center flex-col space-y-10 overflow-y-scroll" id="style-1">
            <div class="flex flex-col" *ngFor="let month of yearDays; let i = index">
                <h2 class="text-2xl text-textPrimary text-center my-4">{{month[15].month}}</h2>
                <div class="grid grid-cols-7 grid-flow-row list-none gap-0.5">
                    <li *ngFor="let day of month; let i = index">
                        <div *ngIf="day.number == null; else dayTemplate" class="emptyDay"></div>
                        <ng-template #dayTemplate>
                            <div [ngStyle]="{'background-color' : getColor(day)}" class="day" (click)="showDay(day)">
                                <div *ngIf="day.note != undefined" id="noteIcon"></div>
                                <div class="flex justify-center items-center text-textPrimary right-0 bottom-0 rounded-full absolute w-5 h-5"
                                    id="round">
                                    <p class="text-xs text-center">{{day.number}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </div>
            </div>
        </div>

    </div>
</body>

</html>