
// Nav Menu Custom Shadow
.navShadow {
    -webkit-box-shadow: 3px 3px 5px 0.35px rgb(0, 0, 0);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0.35px rgb(0, 0, 0);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0.35px rgb(0, 0, 0);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

// Nav Menu Button Hover Modifiers
.one:hover span:last-child {
    width: 100%;
}

.two:hover span {
    width: 50%;
}

.three:hover span {
    height: 100%;
}

.primaryGradientBack {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.secondaryGradientBack {
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

// Nav Menu Hover Animation