<html>

<body>
    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton icon" (click)="navigateMoodCalendar()"></a>
    </div>

    <div class="table flex-nowrap">
        <!--
            Ng If Mostrar Rellenar Dia o Informacion del Dia Rellenado
        -->
        <div class="daySelector" [ngStyle]="{'background-color' : getColor(day)}">
            <div class="buttons">
                <div class="dayView bg-primary">
                    <p class="text-lg text-textPrimary">{{day.weekDayName}}, {{day.number}} {{day.month}}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>