<html>

<body>
    <jw-modal id="modal1">
        <div class="w-40 h-40">
            <button (click)="closeModal('modal1')">Close</button>
        </div>
    </jw-modal>

    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton icon" (click)="navigateMoodCalendar()"></a>
    </div>

    <div class="table flex-nowrap">
        <div *ngIf="day.mood == undefined; else dayTemplate" class="flex flex-col items-center justify-items-center space-y-3 pb-12">
            <p class="text-textPrimary text-lg">How was your day today?</p>
            <a class="editButton editIcon noDay" (click)="openModal('modal1')"></a>
        </div>
        <ng-template #dayTemplate>
            <a class="editButton editIcon day"></a>
            <div class="dayContainer">
                <div class="roundMood" [ngStyle]="{'background-color' : getColor(day.mood)}">
                    <span [className]="getMoodIcon(day.mood)"></span>
                </div>
                <div class="emotions">
                    <div class="title">
                        Emotions
                    </div>
                    <div class="tags">
                        <li *ngFor="let tag of day.emotions" [ngStyle]="{'grid-column' : getSpan(tag)}">
                            <div class="tag">
                                {{tag}}
                            </div>
                        </li>
                    </div>
                </div>
                <div class="note">
                    <div class="title">
                        Note
                    </div>
                    <div class="noteText">
                        {{day.note}}
                    </div>
                </div>
            </div>

        </ng-template>
        <div class="daySelector" [ngStyle]="{'background-color' : getColor(day.mood)}">
            <div class="buttons">
                <div class="dayView bg-primary flex items-center justify-center">
                    <p class="text-lg text-textPrimary">{{day.weekDayName}}, {{day.number}} {{day.month}}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>