<html>

<body #body>
    <div #month *ngIf="this.isMonthDataAvailable == true" class="partContainer">
        <div class="w-full h-auto flex flex-row absolute top-5 justify-center items-center gap-8">
            <p class="opacity-0 text-center text-lg">Days: {{this.loggedMonth}}</p>
            <div class="pagTitle">
                <p class="text-center text-xl font-bold">Month Schedule</p>
            </div>
            <p class="text-center text-lg">Days: {{this.loggedMonth}}</p>
        </div>

        <div class="monthGraph short">
            <p class="graphTitle"></p>
            <canvas baseChart height="300" width="450" [datasets]="this.totalMonthGraph.chartData"
                [options]="this.totalMonthGraph.chartOptions" [labels]="this.totalMonthGraph.chartLabels"
                [colors]="this.totalMonthGraph.chartColors" [legend]="this.totalMonthGraph.chartLegend"
                [chartType]="this.totalMonthGraph.chartType" [plugins]="this.totalMonthGraph.chartPlugins">
            </canvas>
        </div>

        <div class="monthStats1">
            <div class="w-full flex flex-row gap-2 justify-center content-center">
                <p *ngIf="this.comparationsAvailable == true"
                    class=" opacity-0 w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[0]}}%
                </p>
                <p class="w-auto text-center text-lg pl-2">You have slept for an average of {{this.monthAverages[0]}}
                    hours a day</p>
                <div *ngIf="this.comparationsAvailable == true"
                    class="w-auto h-auto flex flex-row mb-1 gap-1 justify-items-center content-center">
                    <div *ngIf="this.averageComp[0] < 0;else plusAC1">
                        <p class="w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[0]}}%</p>
                    </div>
                </div>
                <ng-template #plusAC1>
                    <p class="w-auto h-auto text-center text-lg font-bold text-green-600">+{{this.averageComp[0]}}%</p>
                </ng-template>
            </div>

            <div class="w-full flex flex-row gap-2 justify-center content-center">
                <p *ngIf="this.comparationsAvailable == true"
                    class=" opacity-0 w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[1]}}%
                </p>
                <p class="w-auto text-center text-lg pl-2">You have been working for {{this.monthAverages[1]}} hours a
                    day</p>
                <div *ngIf="this.comparationsAvailable == true"
                    class="w-auto h-auto flex flex-row mb-1 gap-1 justify-items-center content-center">
                    <div *ngIf="this.averageComp[1] < 0;else plusAC2">
                        <p class="w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[1]}}%</p>
                    </div>
                </div>
                <ng-template #plusAC2>
                    <p class="w-auto h-auto text-center text-lg font-bold text-green-600">+{{this.averageComp[1]}}%</p>
                </ng-template>
            </div>

            <div class="w-full flex flex-row gap-2 justify-center content-center">
                <p *ngIf="this.comparationsAvailable == true"
                    class=" opacity-0 w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[2]}}%
                </p>
                <p class="w-auto text-center text-lg pl-2">You have enjoyed some leisure time for
                    {{this.monthAverages[2]}} hours a day</p>
                <div *ngIf="this.comparationsAvailable == true"
                    class="w-auto h-auto flex flex-row mb-1 gap-1 justify-items-center content-center">
                    <div *ngIf="this.averageComp[2] < 0;else plusAC3">
                        <p class="w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[2]}}%</p>
                    </div>
                </div>
                <ng-template #plusAC3>
                    <p class="w-auto h-auto text-center text-lg font-bold text-green-600">+{{this.averageComp[2]}}%</p>
                </ng-template>
            </div>

            <div class="w-full flex flex-row gap-2 justify-center content-center">
                <p *ngIf="this.comparationsAvailable == true"
                    class=" opacity-0 w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[3]}}%
                </p>
                <p class="w-auto text-center text-lg pl-2">You have developed yourself for {{this.monthAverages[3]}}
                    hours a day</p>
                <div *ngIf="this.comparationsAvailable == true"
                    class="w-auto h-auto flex flex-row mb-1 gap-1 justify-items-center content-center">
                    <div *ngIf="this.averageComp[3] < 0;else plusAC4">
                        <p class="w-auto h-auto text-center text-lg font-bold text-red-600">{{this.averageComp[3]}}%</p>
                    </div>
                </div>
                <ng-template #plusAC4>
                    <p class="w-auto h-auto text-center text-lg font-bold text-green-600">+{{this.averageComp[3]}}%</p>
                </ng-template>
            </div>
        </div>
    </div>

    <div #year *ngIf="this.isYearDataAvailable == true; else noYear" class="partContainer">
        <div class="w-full h-auto flex flex-row absolute top-5 justify-center items-center gap-8">
            <p class="opacity-0 text-center text-lg">Days: {{this.loggedYear}}</p>
            <div class="pagTitle">
                <p class="text-center text-xl font-bold">Year Schedule</p>
            </div>
            <p class="text-center text-lg">Days: {{this.loggedYear}}</p>
        </div>

        <div class="monthGraph">
            <p class="graphTitle"></p>
            <canvas baseChart height="300" width="450" [datasets]="this.totalYearGraph.chartData"
                [options]="this.totalYearGraph.chartOptions" [labels]="this.totalYearGraph.chartLabels"
                [colors]="this.totalYearGraph.chartColors" [legend]="this.totalYearGraph.chartLegend"
                [chartType]="this.totalYearGraph.chartType" [plugins]="this.totalYearGraph.chartPlugins">
            </canvas>
        </div>

        <div class="monthStats1">
            <p class="w-full text-center text-lg pl-2">You have slept for an average of {{this.yearAverages[0]}} hours a
                day</p>
            <p class="w-full text-center text-lg pl-2">You have been working for {{this.yearAverages[1]}} hours a day
            </p>
            <p class="w-full text-center text-lg pl-2">You have enjoyed some leisure time for {{this.yearAverages[2]}}
                hours a day</p>
            <p class="w-full text-center text-lg pl-2">You have developed yourself for {{this.yearAverages[3]}} hours a
                day</p>
        </div>
    </div>

    <ng-template #noYear>
        <div #year class="partContainer">
            <div class="w-full h-auto flex flex-row relative justify-center items-center gap-8">
                <div class="pagTitle noData">
                    <p class="text-center text-xl font-bold">NOT ENOUGH DATA TO DISPLAY YEAR STATS</p>
                </div>
            </div>
        </div>
    </ng-template>

    <div #stats class="partContainer">
        <div class="w-full h-auto flex flex-row absolute top-5 justify-center items-center gap-8">
            <div class="pagTitle">
                <p class="text-center text-xl font-bold">Quality Stats</p>
            </div>
        </div>
        <div class="statsGrid">
            <div class="monthGraph quarter">
                <p class="graphTitle">Month Productivity</p>
                <div *ngIf="this.isMonthDataAvailable == true; else noQuality" class="w-full h-5/6 absolute bottom-1 flex items-center justify-center">
                    <canvas id="monthPie" baseChart height="180" width="180"
                        [datasets]="this.monthProductivityGraph.chartData"
                        [labels]="this.monthProductivityGraph.chartLabels"
                        [options]="this.monthProductivityGraph.chartOptions"
                        [colors]="this.monthProductivityGraph.chartColors"
                        [legend]="this.monthProductivityGraph.chartLegend"
                        [chartType]="this.monthProductivityGraph.chartType"
                        [plugins]="this.monthProductivityGraph.chartPlugins">
                    </canvas>
                </div>
            </div>

            <div class="monthGraph quarter">
                <p class="graphTitle">Month Sleep Quality</p>
                <div *ngIf="this.isMonthDataAvailable == true; else noQuality" class="w-full h-5/6 absolute bottom-1 flex items-center justify-center">
                    <canvas id="monthPie" baseChart height="180" width="180"
                        [datasets]="this.monthSleepQualityGraph.chartData"
                        [labels]="this.monthSleepQualityGraph.chartLabels"
                        [options]="this.monthSleepQualityGraph.chartOptions"
                        [colors]="this.monthSleepQualityGraph.chartColors"
                        [legend]="this.monthSleepQualityGraph.chartLegend"
                        [chartType]="this.monthSleepQualityGraph.chartType"
                        [plugins]="this.monthSleepQualityGraph.chartPlugins">
                    </canvas>
                </div>
            </div>

            <ng-template #noQuality>
                <div class="w-full h-5/6 absolute bottom-1 flex items-center justify-center">
                    <p class="text-center text-lg font-bold">NOT ENOUGH DATA</p>
                </div>
            </ng-template>

            <div class="monthGraph quarter">
                <p class="graphTitle">Year Productivity</p>
                <div *ngIf="this.isYearDataAvailable == true; else noQuality" class="w-full h-5/6 absolute bottom-1 flex items-center justify-center">
                    <canvas id="monthPie" baseChart height="180" width="180"
                        [datasets]="this.yearProductivityGraph.chartData"
                        [labels]="this.yearProductivityGraph.chartLabels"
                        [options]="this.yearProductivityGraph.chartOptions"
                        [colors]="this.yearProductivityGraph.chartColors"
                        [legend]="this.yearProductivityGraph.chartLegend"
                        [chartType]="this.yearProductivityGraph.chartType"
                        [plugins]="this.yearProductivityGraph.chartPlugins">
                    </canvas>
                </div>
            </div>

            <div class="monthGraph quarter">
                <p class="graphTitle">Year Sleep Quality</p>
                <div *ngIf="this.isYearDataAvailable == true; else noQuality" class="w-full h-5/6 absolute bottom-1 flex items-center justify-center">
                    <canvas id="monthPie" baseChart height="180" width="180"
                        [datasets]="this.yearSleepQualityGraph.chartData"
                        [labels]="this.yearSleepQualityGraph.chartLabels"
                        [options]="this.yearSleepQualityGraph.chartOptions"
                        [colors]="this.yearSleepQualityGraph.chartColors"
                        [legend]="this.yearSleepQualityGraph.chartLegend"
                        [chartType]="this.yearSleepQualityGraph.chartType"
                        [plugins]="this.yearSleepQualityGraph.chartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div #buttons class="stickyButtons">
        <button class="button" (click)="scrollTop()">
            <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px"
                [ngStyle]="{'fill': getNavButtonColor(1) }">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z" />
            </svg>
        </button>
        <button class="button" (click)="scrollBottom()">
            <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px"
                [ngStyle]="{'fill': getNavButtonColor(2) }">
                <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
            </svg>
        </button>
    </div>
</body>
<script src="node_modules/chart.js/src/chart.js"></script>

</html>