<html>
    <body #body>
        <div #month *ngIf="this.isMonthDataAvailable == true" class="partContainer">
            <div class="w-full h-auto flex flex-row absolute top-5 justify-center items-center gap-8">
                <p class="opacity-0 text-center text-lg">Days: {{this.loggedMonth}}</p>
                <div class="pagTitle">
                    <p class="text-center text-xl font-bold">Month Schedule</p>
                </div>
                <p class="text-center text-lg">Days: {{this.loggedMonth}}</p>
            </div>

            <div class="monthGraph">
                <p class="graphTitle"></p>
                <canvas baseChart height="300" width="450" 
                    [datasets]="this.totalMonthGraph.chartData" [options]="this.totalMonthGraph.chartOptions"
                    [labels]="this.totalMonthGraph.chartLabels"
                    [colors]="this.totalMonthGraph.chartColors" [legend]="this.totalMonthGraph.chartLegend"
                    [chartType]="this.totalMonthGraph.chartType" [plugins]="this.totalMonthGraph.chartPlugins">
                </canvas>
            </div>
    
            <div class="monthStats1">
                <p class="w-full text-center text-lg pl-2">You have slept for an average of {{this.monthAverages[0]}} hours a day</p>
            </div>
        </div>

        <div #year *ngIf="this.isYearDataAvailable == true; else noYear" class="partContainer">
            <div class="w-full h-auto flex flex-row absolute top-5 justify-center items-center gap-8">
                <p class="opacity-0 text-center text-lg">Days: {{this.loggedYear}}</p>
                <div class="pagTitle">
                    <p class="text-center text-xl font-bold">Year Schedule</p>
                </div>
                <p class="text-center text-lg">Days: {{this.loggedYear}}</p>
            </div>
        </div>

        <ng-template #noYear>
            <div #year class="partContainer">
                <div class="w-full h-auto flex flex-row relative justify-center items-center gap-8">
                    <div class="pagTitle noData">
                        <p class="text-center text-xl font-bold">NOT ENOUGH DATA TO DISPLAY YEAR STATS</p>
                    </div>
                </div>
            </div>
        </ng-template>
        
        <div #stats class="partContainer">
            
        </div> 

        <div #buttons class="stickyButtons">
            <button class="button" (click)="scrollTop()">
                <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" [ngStyle]="{'fill': getNavButtonColor(1) }">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z" />
                </svg>
            </button>
            <button class="button" (click)="scrollBottom()">
                <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" [ngStyle]="{'fill': getNavButtonColor(2) }">
                    <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                </svg>
            </button>
        </div> 
    </body>
    <script src="node_modules/chart.js/src/chart.js"></script>
</html>
