@import url('https://fonts.googleapis.com/css?family=Montserrat');

//colors
$primary: #1D1D1D;
$secondary: #292929;
$accent: #ea4c89;
$white: #fff;
$gray: #9b9b9b;

//measures
$tableHeight: 85%;

body {
    width: 100%;
    height: 100vh;
    background: $primary;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #B3B8CD;
}

.table {
    height: $tableHeight;
    width: 75%;
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
    display: flex;

    align-items: center;
    flex-direction: column;
}

.roundButton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
}

.icon {
    width: 40px;
    height: 40px;
    z-index: 9;
    background-image: url(../../../assets/backArrow.svg);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    opacity: 0.9;
    bottom: 0;
    right: 0;
    transition: background-color 0.4s ease, background-size 1s ease;
    cursor: pointer;

    &:hover {
        background-color: $accent;
        background-size: 63%;
        opacity: 1;
    }
}

.graph {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-top: 2%;
    @apply gap-2;
}

.canvasContainer {
    display: block;
    position: relative;
    height: 100%;
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    background-color: $primary;
}

.fillButton {
    width: fit-content;
    height: 50px;
    border-radius: 10px;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, 0.2);
    backdrop-filter: blur(5px);
    position: relative;

    text-align: center;
    font-weight: 500;

    opacity: 0.9;
    transition: background-color 0.4s ease, background-size 1s ease;
    cursor: pointer;

    &:hover {
        background-size: 63%;
        opacity: 1;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;

    align-items: center;
    justify-content: space-evenly;
}

.checkbox {
    --border-default: #bbbbc1;
    --border-hover: #9898a3;
    --active: #ea4c89;
    --active-tick: #ffffff;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    svg {
        display: block;
        position: absolute;
    }
    input {
        display: block;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 36% / 36%;
        box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
        background: var(--background, transparent);
        transition: background .25s linear, box-shadow .25s linear;
        & + svg {
            width: 21px;
            height: 18px;
            left: 0;
            top: 0;
            color: var(--active);
            .tick {
                stroke-dasharray: 20;
                stroke-dashoffset: var(--stroke-dashoffset, 20);
                transition: stroke-dashoffset .2s;
                &.mask { 
                    stroke: var(--active-tick);
                }
            }
            & + svg {
                width: 11px;
                height: 11px;
                fill: none;
                stroke: var(--active);
                stroke-width: 1.25;
                stroke-linecap: round;
                top: -6px;
                right: -10px;
                stroke-dasharray: 4.5px;
                stroke-dashoffset: 13.5px;
                pointer-events: none;
                animation: var(--animation, none) .2s ease .175s;
            }
        }
        &:checked {
            --background: var(--active);
            --border: var(--active);
            & + svg {
                --stroke-dashoffset: 0;
                & + svg {
                    --animation: check;
                }
            }
        }
    }
    &:hover {
        input {
            &:not(:checked) {
                --border: var(--border-hover);
            }
        }
    }
}

@keyframes check {
    100% {
        stroke-dashoffset: 4.5px;
    }
}

.questions {
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-items: center;
    
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 80px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: $gray;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $accent;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $accent, $secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }

.day {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;

    justify-content: space-evenly;
    align-items: flex-start;
}

