<html>

<head>

</head>

<body>
    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton icon" (click)="navigateHome()"></a>
    </div>
    <div *ngIf="dataDelivered | async; else loadTemplate" class="table flex-nowrap">
        <div *ngIf="newJournal == true; else modifyTemplate">

        </div>

        <ng-template #modifyTemplate>
            <div>
                
            </div>
            <div class="canvasContainer">
                <canvas baseChart height="65" [datasets]="this.lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType" [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </ng-template>

    </div>

    <ng-template #loadTemplate>
        <div class="table flex-nowrap">

        </div>
    </ng-template>
</body>

</html>