<html>

<head>

</head>

<body>
    <jw-modal id="closeDayEditorWithoutSaving">
        <div class="modal active">
            <div class="content">
                <h2 class="font-semibold text-textPrimary text-xl mb-3">Exit without saving</h2>
                <p class="text-textPrimary">You didn't save the changes before leaving. Are you sure you want
                    to lose all changes?
                </p>
            </div>
            <div class="buttons">
                <a class="cursor-pointer" (click)="closeModal('closeDayEditorWithoutSaving')">Cancel</a>
                <a class="cursor-pointer" (click)="navigateHome()">Exit Anyways</a>
            </div>
        </div>
    </jw-modal>

    <div class="absolute top-3 right-3 flex items-center justify-center h-10 w-10">
        <a class="roundButton icon" (click)="exit()"></a>
    </div>
    <div *ngIf="dataDelivered | async; else loadTemplate" class="table flex-nowrap">
        <div class="graph">
            <p class="text-center font-semibold text-xl">Today's Time</p>
            <div class="canvasContainer">
                <canvas baseChart height="65" [datasets]="this.lineChartData" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
        <form [formGroup]="journalForm">
            <div class="day">
                <div class="form__group field">
                    <input type="number" min="0" class="form__field" formControlName="sleep" placeholder="Sleep" name="sleep"
                        id='sleep' required (change)="updateData($event, 'sleep')"/>
                    <label for="sleep" class="form__label">Sleep</label>
                </div>

                <div class="form__group field">
                    <input type="number" min="0" class="form__field" formControlName="work" placeholder="Work" name="work"
                        id='work' required (change)="updateData($event, 'work')" />
                    <label for="work" class="form__label">Work</label>
                </div>

                <div class="form__group field">
                    <input type="number" min="0" class="form__field" formControlName="leisure" placeholder="Leisure"
                        name="leisure" id='leisure' required (change)="updateData($event, 'leisure')" />
                    <label for="leisure" class="form__label">Leisure</label>
                </div>

                <div class="form__group field">
                    <input type="number" min="0" class="form__field" formControlName="pers" placeholder="Personal Development"
                        name="pers" id='pers' required (change)="updateData($event, 'pers')" />
                    <label for="pers" class="form__label">PD</label>
                </div>
            </div>

            <div class="flex flex-row items-center justify-between pb-4 w-full h-1/3">
                <div class="flex flex-row items-center justify-items-center gap-2">
                    <p class="text-base">Rate your productivity </p>

                    <div class="form__group questions field">
                        <input type="number" min="0" max="10" class="form__field questions" formControlName="prod" placeholder="prod"
                            name="prod" id='prod' required (change)="changeRatings('prod')" />
                    </div>
                </div>

                <div class="flex flex-row items-center justify-items-center gap-2">
                    <p class="text-base">Did your workout today?</p>

                    <label class="checkbox">
                        <input type="checkbox" formControlName="workout" (change)="changeWorkout()" />
                        <svg viewBox="0 0 21 18">
                            <symbol id="tick-path" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.22003 7.26C5.72003 7.76 7.57 9.7 8.67 11.45C12.2 6.05 15.65 3.5 19.19 1.69"
                                    fill="none" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" />
                            </symbol>
                            <defs>
                                <mask id="tick">
                                    <use class="tick mask" href="#tick-path" />
                                </mask>
                            </defs>
                            <use class="tick" href="#tick-path" stroke="currentColor" />
                            <path fill="white" mask="url(#tick)"
                                d="M18 9C18 10.4464 17.9036 11.8929 17.7589 13.1464C17.5179 15.6054 15.6054 17.5179 13.1625 17.7589C11.8929 17.9036 10.4464 18 9 18C7.55357 18 6.10714 17.9036 4.85357 17.7589C2.39464 17.5179 0.498214 15.6054 0.241071 13.1464C0.0964286 11.8929 0 10.4464 0 9C0 7.55357 0.0964286 6.10714 0.241071 4.8375C0.498214 2.39464 2.39464 0.482143 4.85357 0.241071C6.10714 0.0964286 7.55357 0 9 0C10.4464 0 11.8929 0.0964286 13.1625 0.241071C15.6054 0.482143 17.5179 2.39464 17.7589 4.8375C17.9036 6.10714 18 7.55357 18 9Z" />
                        </svg>
                        <svg class="lines" viewBox="0 0 11 11">
                            <path d="M5.88086 5.89441L9.53504 4.26746" />
                            <path d="M5.5274 8.78838L9.45391 9.55161" />
                            <path d="M3.49371 4.22065L5.55387 0.79198" />
                        </svg>
                    </label>
                </div>

                <div class="flex flex-row items-center justify-items-center gap-2">
                    <p class="text-base">Rate your quality of sleep</p>

                    <div class="form__group questions field">
                        <input type="number" min="0" max="10" class="form__field questions" formControlName="sleepQ" placeholder="sleepQ"
                            name="sleepQ" id='sleepQ' required (change)="changeRatings('sleepQ')" />
                    </div>
                </div>

            </div>
        </form>

        <!--
        <div *ngIf="newJournal == true; else modifyTemplate">
            <div class="fillButton">
                Journal Day
            </div>
        </div>
        <ng-template #modifyTemplate>
        </ng-template>
        -->
        <div class="absolute bottom-3 right-3 flex items-center justify-center h-10 w-10">
            <a class="roundButton icon save" (click)="navigateHome()"></a>
        </div>
    </div>

    <ng-template #loadTemplate>
        <div class="table flex-nowrap">

        </div>
    </ng-template>
</body>

</html>