@import url('https://fonts.googleapis.com/css?family=Montserrat');

//colors
$primary: #1D1D1D;
$secondary: #292929;
$accent: #ea4c89;

//measurements
$tableWidth: 460px;
$daySelectorHeight: 80px;

body {
    width: 100%;
    height: 100vh;
    background: $primary;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #B3B8CD;
}

.table {
    height: 85%;
    width: $tableWidth;
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.roundButton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
}

.icon {
    width: 40px;
    height: 40px;
    z-index: 9;
    background-image: url(../../../assets/backArrow.svg);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    opacity: 0.9;
    bottom: 0;
    right: 0;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
        background-color: $accent;
        background-size: 63%;
        opacity: 1;
    }
}

.daySelector {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: $daySelectorHeight;
    background-color: $secondary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // border: 2px solid rgba(7, 7, 7, 0.12);

    .buttons {
        position: absolute;
        width: 100%;
        height: 60px;
        bottom: 10px;

        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        flex-direction: row;

        .dayView {
            height: 40px;
            width: 65%;
            border-radius: 20px;
            text-align: center;
            justify-items: center;
        }
    }
}

.dayContainer {
    width: 100%;
    position: absolute;
    top: 18%;
    
}

.roundMood {
    $size: 60px;
    width: $size;
    height: $size;
    border-radius: 100%;
    margin-right: calc(50% - #{$size * 0.5 });
    margin-left: calc(50% - #{$size * 0.5 });
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .moodIcon {
        width: $size;
        height: $size;
        z-index: 9;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: 0.9;

        &.m0 {
            background-image: url(../../../assets/mood0.svg);
        }

        &.m1 {
            background-image: url(../../../assets/mood1.svg);
        }

        &.m2 {
            background-image: url(../../../assets/mood2.svg);
        }

        &.m3 {
            background-image: url(../../../assets/mood3.svg);
        }

        &.m4 {
            background-image: url(../../../assets/mood4.svg);
        }
    }

}

.emotions {
    $width: $tableWidth * 0.8;
    height: auto;
    width: $width;
    background-color: $primary;
    margin-right: calc(50% - #{$width * 0.5 });
    margin-left: calc(50% - #{$width * 0.5 });
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;

    .title {
        font-size: 15px;
        background-color: $primary;
        text-align: left;
        font-weight: 600;
        color: #EEEE;
        padding-bottom: 8px;
    }

    .tags {
        background-color: $primary;
        color: #EEEE;
        padding: 8px;

        display: grid;
        @apply grid-cols-4;
        @apply gap-y-1;
        @apply gap-x-2;
        @apply list-none;
        align-items: center;
        grid-auto-flow: row;

        .tag {
            background-color: $secondary;
            text-align: center;
            height: auto;
            width: fit-content;
            margin: auto;
            padding-right: 17px;
            padding-left: 17px;
            border-radius: 20px;
            font-size: 14px;
        }
    }
}

.note {
    $width: $tableWidth * 0.8;
    height: auto;
    width: $width;
    background-color: $primary;
    margin-right: calc(50% - #{$width * 0.5 });
    margin-left: calc(50% - #{$width * 0.5 });
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;

    .title {
        font-size: 15px;
        background-color: $primary;
        text-align: left;
        font-weight: 600;
        color: #EEEE;
    }

    .noteText {
        font-size: 14px;
        background-color: $primary;
        color: #EEEE;
        text-align: left;
        padding: 10px;
    }
}

.moodCard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
	background-color: rgb(255, 255, 255);
	padding: 0.8rem;
	width: 100%;
    height: fit-content;
}

.rating-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.4rem 0.8rem;
	width: 100%;
}

.rating-text p {
	color: rgba(0, 0, 16, 0.8);
	font-size: 1.3rem;
	padding: 0.3rem;
}

.rating {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
}

svg {
	fill: rgb(242, 242, 242);
	height: 3.6rem;
	width: 3.6rem;
	margin: 0.2rem;
}

.rating-form-2 svg {
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
	fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
	fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
	fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
	fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
	fill: rgb(239, 42, 16);
}

