@import url('https://fonts.googleapis.com/css?family=Montserrat');

//colors
$primary: #1D1D1D;
$secondary: #292929;
$accent: #ea4c89;
$green:#00c06d;

//measurements
$tableWidth: 460px;
$daySelectorHeight: 80px;
$appButonSize: 40px;
$titleHeight: null;

body {
    width: 100%;
    height: 100vh;
    background: $primary;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #B3B8CD;
    position: relative;;
}

.table {
    height: 85%;
    width: $tableWidth;
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    position: relative;
    display: flex;
    z-index: 200;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableEmotions {
    height: 60%;
    width: $tableWidth * 0.5;
    background-color: $secondary;
    border-radius: 10px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    z-index: 100;
    position: absolute;
    top: calc(20%);
    left: calc(50%);

    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all .8s ease;

    &.open {
        transform: translateX(calc(#{$tableWidth * 0.5 }));
    }

    .wrapper {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;

        .title {
            $titleHeight: 30px !global;
            position: absolute;
            top: 15px;
            right: 0px;
            width: 100%;
            height: $titleHeight;

            text-align: center;
            justify-content: center;
            font-weight: 600;
            font-size: 22px;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
        }

        .picker {
            position: absolute;
            top: $titleHeight + 15px;
            width: 100%;
            height: calc(100% - (#{$titleHeight} + 15px));

            display: flex;
            flex-direction: row;
            justify-items: center;
            align-content: center;
            
            .tags {
                color: #EEEE;
                padding: 12px;
            
                display: flex;
                width: 100%;
                height: auto;
            
                flex-wrap: wrap;
                @apply gap-y-3;
                @apply gap-x-2;
                @apply list-none;
                align-items: center;
                justify-content: center;
                align-content: center;
            
                .tag {
                    background-color: $primary;
                    text-align: center;
                    height: auto;
                    width: fit-content;
                    margin: auto;
                    padding-right: 16px;
                    padding-left: 16px;
                    border-radius: 20px;
                    font-size: 17px;
                    
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-height: 56.25rem) {
    .picker {
        .tags {
            @apply gap-x-2;
            .tag {
                padding-right: 11px;
                padding-left: 11px;
                font-size: 12px;
            }
        }
    }
}

.roundButton {
    width: $appButonSize;
    height: $appButonSize;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
}

.icon {
    width: $appButonSize;
    height: $appButonSize;
    z-index: 9;

    background-repeat: no-repeat;
    background-position: 8px 8px;
    opacity: 0.9;
    bottom: 0;
    right: 0;
    transition: all 0.4s ease;
    cursor: pointer;

    &.delete {
        background-image: url(../../../assets/deleteBig.svg);
        $appButonSize: 20px;
        background-color: $primary;
        backdrop-filter: none;
        left: 0;
    }

    &.save {
        background-image: url(../../../assets/save.svg);
        $appButonSize: 20px;
        background-color: $primary;
        backdrop-filter: none;
    }

    &.back {
        background-image: url(../../../assets/backArrow.svg);
    }

    &:hover {
        background-color: $accent;
        background-size: 63%;
        opacity: 1;
    }
}

.daySelector {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: $daySelectorHeight;
    background-color: $secondary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // border: 2px solid rgba(7, 7, 7, 0.12);

    .buttons {
        position: absolute;
        width: 100%;
        height: 60px;
        bottom: 10px;

        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        flex-direction: row;

        .dayView {
            height: 40px;
            width: 65%;
            border-radius: 20px;
            text-align: center;
            justify-items: center;
        }
    }
}

.dayContainer {
    width: 100%;
    position: absolute;
    top: 10px;
    bottom: $daySelectorHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emotions {
    $width: $tableWidth * 0.8;
    height: auto;
    width: $width;
    background-color: $primary;
    margin-right: calc(50% - #{$width * 0.5 });
    margin-left: calc(50% - #{$width * 0.5 });
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;

    

    .title {
        font-size: 15px;
        background-color: $primary;
        text-align: left;
        font-weight: 600;
        color: #EEEE;
        padding-bottom: 8px;
    }

    .tags {
        background-color: $primary;
        color: #EEEE;
        padding: 8px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @apply gap-y-3;
        @apply list-none;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;

        .tag {
            background-color: $secondary;
            text-align: center;
            height: auto;
            width: fit-content;
            margin: auto;
            padding-right: 17px;
            padding-left: 17px;
            border-radius: 20px;
            font-size: 14px;
            cursor: url(../../../assets/delete.svg), auto;
        }
    }
}

.note {
    $width: $tableWidth * 0.8;
    height: auto;
    width: $width;
    background-color: $primary;
    margin-right: calc(50% - #{$width * 0.5 });
    margin-left: calc(50% - #{$width * 0.5 });
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;

    .title {
        font-size: 15px;
        background-color: $primary;
        text-align: left;
        font-weight: 600;
        color: #EEEE;
    }

    .noteText {
        border: none;
        font-size: 14px;
        background-color: $primary;
        color: #EEEE;
        text-align: left;
        padding: 10px;
        overflow: hidden;
        resize: none;
        min-height: 100px;
        max-height: 100px;
        line-height: 16px;
        border: none;
        outline: none;
    }

    textarea {
        outline: none;
        border: none;
    }
}

.moodCard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	padding: 10px;
    padding-bottom: 30px;
	width: 100%;
    height: fit-content;
}

.rating-container {
	display: flex;
    flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px;
	width: $tableWidth * 0.8;
}

.rating-text p {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #EEEE;
    padding-bottom: 8px;
}

.rating {
	background-color: $primary;
	padding: 0.3rem 0.3rem 0.3rem 0.3rem;
	border-radius: 2.2rem;
}

.rating-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

svg {
	height: 3.6rem;
	width: 3.6rem;
	margin: 0.2rem;
}

.rating-form-2 svg {
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

.emotionsTable {
    display: block;
    height: auto;
    width: auto;

    .emotions {
        $width: 600px;
        height: auto;
        width: $width;
        background-color: $primary;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 20px;
        margin: 0px;

        .title {
            font-size: 22px;
            background-color: $primary;
            text-align: center;
            font-weight: 600;
            color: #EEEE;
            padding: 0px;
            margin-bottom: 8px;
            margin-top: 8px;
        }
    
        .tags {
            background-color: $primary;
            color: #EEEE;
            padding: 12px;
    
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @apply gap-y-3;
            @apply list-none;
            align-items: center;
            justify-content: space-around;
            align-content: space-around;
    
            .tag {
                background-color: $secondary;
                text-align: center;
                height: auto;
                width: fit-content;
                margin: auto;
                padding-right: 17px;
                padding-left: 17px;
                border-radius: 20px;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
}



.emotionsContainer {
    display: block;
    width: $tableWidth;
    height: auto;
    position: relative;
}

.addEmotionsButton {
    position: absolute;
    height: auto;
    width: auto;
    right: 8px;
    top: calc(50% - (36px * 0.5));
}

.collection {
    input {
        display: none;
        & + div {
            position: relative;
            width: 24px;
            height: 36px;
            border-radius: 3px;
            border: 2.5px solid $primary;
            margin: 0 0 0 8px;
            cursor: pointer;
            transition: all .4s ease;
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 2px;
                border-radius: 2px;
                background: $primary;
                right: 100%;
                transition: all .4s ease, background .2s ease;
            }
            &:before {
                transform: translate(-4px, 0);
                top: 4px;
                bottom: 4px;
            }
            &:after {
                transform: translate(-8px, 0);
                top: 8px;
                bottom: 8px;
            }
            span {
                display: block;
                left: 50%;
                top: 50%;
                position: absolute;
                transition: transform .4s ease;
                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    border-radius: 2px;
                    background: $accent;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: background .2s ease;
                }
                &:before {
                    width: 10px;
                    height: 2px;
                }
                &:after {
                    height: 10px;
                    width: 2px;
                }
            }
        }
        &:checked + div {
            height: 24px;
            margin: 6px 4px;
            background: $accent;
            border: 2px solid $accent;
            &:before,
            &:after {
                transform: translate(2px, 0);
                opacity: 0;
            }
            span {
                transform: rotate(-225deg);
                &:before,
                &:after {
                    background: #fff;
                }
            }
        }
    }
}

.modal {
    border-radius: 10px;
    display:none;
    position:relative;
    width: 650px;
    height: 350px;
    background-color: $primary;

    &.active {
        display:block;
    }

    .content {
        padding:30px;
    }

    .close {
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        color:#FFF;
        width:50px;
        height:50px;
        text-align:center;
        line-height:50px;
        position:absolute;
        right:0;
        color:#999;
        font-size:40px;

        span {
            transform:rotate(45deg);
            display:block;
        }
    }
    .buttons {
        width:650px;
        position:absolute;
        bottom:0;
        height:50px;
        background-color:#FFF;

        a {
            width:50%;
            height:50px;
            line-height:50px;
            text-align:center;
            float:left;
            background-color: $secondary;
            color: #ffffff;
            transition:0.3s;
            text-transform:uppercase;
            font-weight:bold;

            &:hover {
                background-color:lighten($secondary,5%);
            }

            &:nth-of-type(2) {
                float:right;
                color:#FFF;
                background-color:$green;

                &:hover {
                    background-color:darken($green,5%);
                }
            }
        }
    }
}

.modalbttn {
    background-color:#24252A;
    padding:12px 25px;
    text-transform:uppercase;
    border-top:1px solid rgba(255,255,255,0.2);
    border-bottom:1px solid rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius:4px;
    &:hover {
        background-color:lighten(#24252A,3%); 
    }
}








