//colors
$primary: #1D1D1D;
$secondary: #292929;
$accent: #ea4c89;
$white: #fff;
$gray: #9b9b9b;
$green:#00c06d;

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.score {
    width: 25%;
    height: 20%;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;

    .title {
        top: -50px;
        position: absolute;
        font-weight: 800;
        text-align: center;
        font-size: 36px;
    }
}

.monthStats1 {
    width: 80%;
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;

    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: $primary;

    .title {
        top: -35px;
        position: absolute;
        font-weight: 800;
        text-align: center;
        font-size: 24px;
    }
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100% - 220px);

    justify-content: center;
    align-items: center;
}