<html>

<body>
    <div class="score">
        <p class="title">Score</p>
        <p>{{this.score}}%</p>
    </div>
    
    <div class="monthStats1">
        <p class="title">How it works</p>
        <p class="text-lg pb-1">Uses Total Work Hours (Objective) and Productivity Level (Subjective) as a base</p>
        <p class="text-lg pb-1">Checks that you are having a good Sleep Schedule</p>
        <p class="text-lg pb-1">Uses you Personal Development Hours as a modifier</p>
        <p class="text-lg pb-1">A good score should be between 70% and 100%</p>
    </div>
</body>

</html>