<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!-- about -->
    <div class="about">
        <a class="bg_links social close" (click)="closeApp()">
            <span class="icon"></span>
        </a>
        <a class="bg_links social dribbble" (click)="goToSettings()">
            <span class="icon"></span>
        </a>
        <a class="bg_links social linkedin" (click)="logout()">
            <span class="icon"></span>
        </a>
        <a class="bg_links logo"></a>
    </div>
    <!-- end about -->

    <div class="content">
        <!-- card -->
        <div class="card">

            <div class="icon"><i class="material-icons md-36">cottage</i></div>
            <p class="title">Home</p>
            <p class="text">Check your stats.</p>

        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">

            <div class="icon"><i class="material-icons md-36">edit_calendar</i></div>
            <p class="title">Journal</p>
            <p class="text">Manage your time.</p>

        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">

            <div class="icon"><i class="material-icons md-36">mood</i></div>
            <p class="title">Mood</p>
            <p class="text">Start caring about your daily mood.</p>

        </div>
        <!-- end card -->
    </div>
</body>

</html>